.bottomnav-main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: whitesmoke;
    width: 100%;
    height: 50px;
    position: fixed;
    bottom: 0;
}

.btn-home {
    height: 50px;
    width: 50px;
}

.btn {
    height: 30px;
    width: 30px;
}

@media(min-width: 775px){
    .bottomnav-main {
        display: none
    }
}