
@media(max-width: 775px)  {
    .header-main {
        background-color: whitesmoke;
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        position: fixed;
       box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
    .header-icons-left {
        background-color: whitesmoke;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: rgb(0, 0, 0) 1px solid;
        width: 80%;
    }
    .header-icons-right {
        display: none;
    }
    
}

@media(min-width: 768px) {
    .header-main {
        background-color: whitesmoke;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
    .header-icons-right {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    .header-icons-right {
        display: none;
    }
}

@media(min-width: 1000px) {
    .header-main {
        background-color: whitesmoke;
        height: 10vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
    .header-icons-left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;
        width: 90%
    }
    .header-icons-right {
        display: flex;
        justify-content: space-around;
        width: 60%;
    }
    h1 {
        font-size: 35px;
    }
    button {
        border: none;
        font-size: 16px;
        background-color: whitesmoke;
    }
    input {
        border: none;
        display: flex;
        padding-left: 10px;
        border-radius: 4px;
    }
}

/* .header-main {
    background-color: whitesmoke;
    height: 10vh;
    width: auto;
    display: flex;
    flex-direction: row;
    align-items: flex-end
}

.header-icons-left {
    background-color: whitesmoke;
    height: 100%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-icons-right {
    display: none;
    
}


@media(min-width: 600px){
    .header-main{
        height: 10vh;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .header-icons-right{
        width: 30%;
        display: flex;
        justify-content: space-around;
    }
} */