
@media(max-width: 767px)  {
    .header-main {
        background-color: white;
        height: 10vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
       box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 3px 0 rgba(0, 0, 0, 0.12), 0 0 3px 0 rgba(0, 0, 0, 0.14);
    }
    .header-icons-left {
        background-color: white;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80%;
    }
    .logo {
        height: 50px;
        
    }
    .header-icons-right {
        display: none;
    }
    
}

@media(min-width: 768px) {
    .header-main {
        background-color: white;
        height: 8vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
    }
    .header-icons-right {
        display: flex;
        justify-content: space-around;
        width: 40%;
    }
    .header-icons-right {
        display: none;
    }
    .logo {
        height: 70px;
        padding-bottom: 20px;
    }
}

@media(min-width: 1000px) {
    .header-main {
        background-color: white;
        height: 13vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        width: 100%;
        box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 0 2px 0 rgba(0, 0, 0, 0.14);
        z-index: 950;
    }
    .header-icons-left {
        display: flex;
        align-items: center;
        justify-content: center;
        border-bottom: 2px solid black;
        width: 90%
    }
    .header-icons-right {
        display: flex;
        justify-content: space-around;
        /* height: 30%; */
        width: 60%;
    }
    .logo {
        height: 60px;
        padding-bottom: 15px;
    }
    h1 {
        font-size: 35px;
    }
    button {
        border: none;
        font-size: 16px;
        background-color: white;
    }
}
