@media(min-width: 1000px) {
    .login {
        /* background-color: aqua; */
        height: 60vh;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20vh
    }
    .login-form {
        /* background-color: blue; */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* padding-top: 30vh */
    }
}