.posts-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.posts-box {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 350px;
    height: 10vh;
    border: solid black 1px;
    margin: 20px;
}

.custom-overlay {
  background: rgba(37, 36, 36, 0.356);
}
.custom-modal {
  background: whitesmoke;
  max-width: 500px;
  width: 100%;
  height: 650px;
}