
@media(max-width: 767px){
    .singlePost-picture {
        height: 300px;
        width: 300px;
    }
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    textarea {
        height: 50px;
        width: 300px;
        border: 1px solid #2aabe2;
        resize: none;
    }
    .content {
        border: none;
    }
    .updatebtn {
        background-color: whitesmoke;
    }
    .edit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
}
@media(max-width: 775px) {
    .singlePost-picture {
        height: 300px;
        width: 300px;
    }
    .content-container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    textarea {
        height: 50px;
        width: 300px;
        border: 1px solid #2aabe2;
        resize: none;
        border-radius: 5px;
    }
    .content {
        border: none;
        background-color: white;
    }
    .updatebtn {
        background-color: whitesmoke;
    }
    .edit {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .commentsection {
        display: flex;
        
    }
}
@media(min-width: 1000px) {
    .singlePost-picture {
        height: 500px;
        width: 500px;
    }
    .title-container {
        display: flex;
        flex-direction: column;
    }
    .picture-container {
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        border: 1px solid #2aabe2
    }
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .title-info {
        display: flex;
        align-items: center;
        width: 100%;
        flex-direction: column;

    }
    .edit-container {
        padding-left: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .edit-btn {
        padding-left: 20px;
    }
    .updatebtn {
        background-color: whitesmoke;
    }
    .content {
        background-color: white;
        width: 300px;
    }
    
    .edit {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
    }
    textarea {
        height: 50px;
        width: 300px;
        border: 1px solid #2aabe2;
        resize: none;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    #updateContent {
        height: 40px;
    }
}