
.post-main {
    padding-top: 20px;
}

.title-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
}

.user-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-info {
    display: flex;
    flex-direction: row;
}

.content-container {
    padding: 5px;

}

.comment-container {
    padding: 5px;
}

