
@media(max-width: 750px) {
  .Compose-parent {

    height: 300px;
    margin-bottom: 30px;
  }
  .Compose__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
 .Compose {
   background-color: whitesmoke;
 }
}

@media(max-width: 769px) {
.Compose-parent {

    height: 300px;
    margin-bottom: 30px;
  }
  .Compose__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Compose {
   background-color: whitesmoke;
 }
}

@media(min-width: 1000px) {
.Compose-parent {

    height: 100px;
    /* margin-bottom: 30px; */
  }
  .Compose__top {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Compose {
   background-color: whitesmoke;
 }
}